VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_BILLING_ALLOW_PAID_FEATURES=
VITE_SENTRY_DSN=
VITE_STRIPE_PUBLISHABLE_KEY=
SENTRY_ORG=bizzybee
SENTRY_PROJECT=bizzybee-web
SENTRY_URL=https://de.sentry.io/
SENTRY_AUTH_TOKEN=
SENTRY_RELEASE=
SENTRY_EDGE_DSN=
SENTRY_EDGE_ENVIRONMENT=
RESEND_API_KEY=
RESEND_TRANSACTIONAL_FROM=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PORTAL_CONFIGURATION_ID=
